            <hr class="hr">

            <div class="row" style="margin-top: -10px;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>
                    <b><!-- @PRJ_ID@ --> - <!-- @PRJ_TITLE@ --></b>
                </div>
            </div>
            <div class="row" style="margin-top: -10px;">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <p>
                    <b>Mentor:</b> <!-- @MENTORS@ -->
                </div>
                <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                    <p>
                    <b>Keyword:</b> <!-- @KEYWORD@ -->
                </div>
            </div>
            <div class="row" style="margin-top: -10px;">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <p>
                    <b>Description: </b>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <a
                        data-toggle="collapse"
                        href="#prj1"
                        role="button"
                        aria-expanded="false"
                        aria-controls="prj1">[Expand/Collapse Details]</a>
                </div>
            </div>
            <div class="row" style="margin-top: -10px;">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                    <!-- @SHORTDESC@ -->
                </div>
            </div>
            <div class="row collapse" style="margin-top: -10px;" id="prj1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <!-- @LONGDESC@ -->
                </div>
            </div>
