            <hr class="hr">

            <div class="row" style="margin-top: -10px;">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <p>
                    <b><!-- @PRJ_ID@ --> - <!-- @PRJ_TITLE@ --></b>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <p>
                            <b>Mentor:</b> <!-- @MENTORS@ -->
                        </div>
                        <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                            <p>
                            <b>Keyword:</b> <!-- @KEYWORD@ -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -10px;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>
                    <a
                        data-toggle="collapse"
                        href="#prj1"
                        role="button"
                        aria-expanded="false"
                        aria-controls="prj1">[Expand/Collapse Details]</a>
                    <b>Description: </b>
                    <!-- @SHORTDESC@ -->
                </div>
            </div>
            <div class="row collapse" style="margin-top: -10px;" id="prj1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <!-- @LONGDESC@ -->
                </div>
            </div>
